[Service]
ExecStartPre=-/usr/bin/curl -fsS -m 10 -o /dev/null {{ hc_host_config_url }}/start
ExecStopPost=/bin/sh -c 'if [ "$$SERVICE_RESULT" = success ]; then /usr/bin/curl -fsS -m 10 --retry 3 -o /dev/null {{ hc_host_config_url }}; else /usr/bin/curl -fsS -m 10 --retry 3 -o /dev/null {{ hc_host_config_url }}/fail; fi'
