#!/bin/sh
case "$1" in
  job-start) curl -fsS -m 10 -o /dev/null {{ hc_vzdump_url }}/start ;;
  job-end) curl -fsS -m 10 --retry 3 -o /dev/null {{ hc_vzdump_url }} ;;
  job-abort|backup-abort) curl -fsS -m 10 --retry 3 -o /dev/null {{ hc_vzdump_url }}/fail ;;
esac
exit 0
